h1 {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 15vh;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    background-color: hsl(218, 71%, 60%);
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: hsl(218, 86%, 57%);
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button:active {
    cursor: pointer;
    background-color: hsl(218, 78%, 52%);
    border: none;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
    margin-top: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    font-size: large;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

#hintText {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2pxpx;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 60px;
}

#score {
    margin: 0px;
}

#desc {
    margin-bottom: 0px;
}
